<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ebIServices.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
    <applicationSettings>
        <ebIServices.Properties.Settings>
            <setting name="ebIServices_at_gv_bmf_finanzonline_SessionWSIService"
                serializeAs="String">
                <value>https://finanzonline.bmf.gv.at:443/fon/services/SessionWSI</value>
            </setting>
            <setting name="ebIServices_at_gv_bmf_finanzonline1_uidAbfrageService"
                serializeAs="String">
                <value>https://finanzonline.bmf.gv.at:443/fon/ws/uidAbfrageService/</value>
            </setting>
        </ebIServices.Properties.Settings>
    </applicationSettings>
</configuration>