<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SettingsManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SettingsManager.Properties.Settings>
            <setting name="SetName" serializeAs="String">
                <value />
            </setting>
            <setting name="SetStrasse" serializeAs="String">
                <value />
            </setting>
            <setting name="SetPLZ" serializeAs="String">
                <value />
            </setting>
            <setting name="SetOrt" serializeAs="String">
                <value />
            </setting>
            <setting name="SetTelNr" serializeAs="String">
                <value />
            </setting>
            <setting name="SetEmail" serializeAs="String">
                <value />
            </setting>
            <setting name="SetVATID" serializeAs="String">
                <value />
            </setting>
            <setting name="SetLand" serializeAs="String">
                <value>AT</value>
            </setting>
            <setting name="SetBank" serializeAs="String">
                <value />
            </setting>
            <setting name="SetKontowortlaut" serializeAs="String">
                <value />
            </setting>
            <setting name="SetIBAN" serializeAs="String">
                <value />
            </setting>
            <setting name="SetWhrg" serializeAs="String">
                <value>EUR</value>
            </setting>
            <setting name="SetBillerContact" serializeAs="String">
                <value />
            </setting>
            <setting name="SetMwStTab" serializeAs="String">
                <value />
            </setting>
            <setting name="SetMwStDefault" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="SetHandyNr" serializeAs="String">
                <value />
            </setting>
            <setting name="SetBetreff" serializeAs="String">
                <value />
            </setting>
            <setting name="SetMailText" serializeAs="String">
                <value />
            </setting>
            <setting name="SetSendEtresor" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SetEtresorMail" serializeAs="String">
                <value />
            </setting>
            <setting name="SetSaveLocal" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SetLocalPath" serializeAs="String">
                <value />
            </setting>
            <setting name="SetTemplatePath" serializeAs="String">
                <value />
            </setting>
            <setting name="SetLocalPathSigned" serializeAs="String">
                <value />
            </setting>
            <setting name="SetBIC" serializeAs="String">
                <value />
            </setting>
            <setting name="SetVorwahl" serializeAs="String">
                <value />
            </setting>
            <setting name="SetTeilnehmer" serializeAs="String">
                <value />
            </setting>
            <setting name="SetBenutzer" serializeAs="String">
                <value />
            </setting>
            <setting name="SetVStBerechtigt" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SetVStText" serializeAs="String">
                <value />
            </setting>
            <setting name="DefaultMailBody" serializeAs="String">
                <value>
              Sehr geehrte(r) Kunde,

              beigefügt erhalten Sie die Rechnung Nr. [RECHNUNGSNR] vom [RECHNUNGSDATUM] mit dem Ersuchen um termingerechte Erledigung.

              Mit freundlichen Grüßen Ihr

              [RECHNUNGSSTELLER]
              Kontakt: [KONTAKT]
              Telefon: [TELEFON]
              E-Mail: [EMAIL]
            </value>
            </setting>
            <setting name="DefaultMailSubject" serializeAs="String">
                <value>Rechnung Nr. [RECHNUNGSNR] vom [RECHNUNGSDATUM] </value>
            </setting>
            <setting name="SetSignType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SetMyGLN" serializeAs="String">
                <value />
            </setting>
            <setting name="SetUnitOfMeasure" serializeAs="String">
                <value />
            </setting>
            <setting name="SetUoMDefault" serializeAs="String">
                <value>NAR</value>
            </setting>
            <setting name="SetZustellExe" serializeAs="String">
                <value />
            </setting>
            <setting name="SetZustellParm" serializeAs="String">
                <value>{0} {1} {2}</value>
            </setting>
            <setting name="setZustellWorkDir" serializeAs="String">
                <value />
            </setting>
            <setting name="SetEbIVersion" serializeAs="String">
                <value>V4P3</value>
            </setting>
        </SettingsManager.Properties.Settings>
    </userSettings>
</configuration>