<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonServiceLocator" version="1.3" targetFramework="net45" />
  <package id="CompareNETObjects" version="4.00.0.0" targetFramework="net45" />
  <package id="EnterpriseLibrary.Common" version="6.0.1304.0" targetFramework="net45" />
  <package id="EnterpriseLibrary.Logging" version="6.0.1304.0" targetFramework="net45" />
  <package id="NUnit" version="3.11.0" targetFramework="net45" />
  <package id="NUnit.DeepObjectCompare" version="2.0.0" targetFramework="net45" />
  <package id="NUnit3TestAdapter" version="3.10.0" targetFramework="net45" />
  <package id="RhinoMocks" version="3.6.1" targetFramework="net45" />
  <package id="ServiceStack.Text" version="5.4.0" targetFramework="net45" />
  <package id="System.Buffers" version="4.4.0" targetFramework="net45" />
  <package id="System.Memory" version="4.5.1" targetFramework="net45" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.0" targetFramework="net45" />
  <package id="Unity" version="4.0.1" targetFramework="net45" />
  <package id="Unity.Abstractions" version="3.3.1" targetFramework="net45" />
  <package id="Unity.Interception" version="4.0.1" targetFramework="net45" />
</packages>